语句::= (函数声明|函数定义|变量声明|变量定义)+语句
函数声明::= 类型标识 标识符(类型标识|类型标识 标识符,...);
函数定义::= 类型标识 标识符(类型标识|类型标识 标识符,...){顺序语句}
变量声明::= 类型标识 标识符;
变量定义::= 类型标识 赋值语句;
顺序语句::=变量声明|赋值语句|函数调用|if语句|while语句
分支语句::=if(表达式){顺序语句}else{顺序语句}
循环语句::=while(表达式){顺序语句}
赋值语句::= 标识符=表达式;
表达式::= 标识符|函数调用|数字|标识符\\+运算符|运算符\\+标识符|标识符\\+运算符\\+标识符
函数调用::= 标识符(void|标识符,...);
保留字::=逻辑划分符|类型标识
逻辑划分符::=if,while,{,},(,),;,,&,,
类型标识::=char,int,char*,int*,void
标识符::= [a-zA-Z]+[a-zA-Z0-9]*
运算符::=+,-,*,/,>,<,==,<<,>>
数字::=[0-9]+

base types{
char 16
int 32

char* 32
int* 32
}
flow control{
if
while
}